/*  --------- POLICES -------- */


/* -------- PARAMETRES COMMUNS --------- */

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
body {
    max-width: 1440px;
    min-width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
html * {
    padding: 0.25rem;
    margin: 0.25rem;
}
h1, h2, h3 {
    font-weight: bold;
    font-size: 1.3rem;
}
a, p {
    font-size: 0.875rem;
}


/*  --------- FLEX CLASS PREDEFINIS -------- */

.flexStart {
    display: flex;
    justify-content: flex-start;
}
.flexEnd {
    display: flex;
    justify-content: flex-end;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround {
    display: flex;
    justify-content: space-around;

}
.flexBetween {
    display: flex;
    justify-content: space-between;

}
.itemsCenter {
    display: flex;
    align-items: center;
}
.itemsEnd {
    display: flex;
    align-items: flex-end;
}
.alignSelfEnd {
    display: flex;
    align-content: flex-end;
}
.flexWrap {
    display: flex;
    flex-wrap: wrap;
}
.flexNoWrap {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
/* ------- NAVIGATION -------- */

header {
    height: 120px;
    margin-top: 0;
    padding-top: 0;
}
#logo {
    display: flex;
	flex-wrap: flex-start;
}
#logo img {
    width: 6rem;
    height: 3rem; 
}
header nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding-top: 0;
}
header a:hover, .activeLink {
	color: #0065FC;
	border-top: 0.125rem solid #0065FC;
}
header ul {
        list-style: none;
}
a {
    text-decoration: black;
    color: black;
}


.BorderTopBlue {
    border-top: 2px solid #0065FC;
    
}

#inscription {
    display: flex;
    flex-wrap: nowrap;
    color: #0065FC;
    font-weight: bold;
    
}

/* ------- RECHERCHE -------- */
form * {
    height: 3rem;
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
}
form {
    width: 26rem;
 
}

input {
    width: 14.5rem;
    border: solid #F2F2F2 0.1rem;
    border-radius: 0;
    color: black;
    

}
button {
    width: 8.25rem;
    height: 3rem;
    background-color: #0065FC;
    color: white;
    border-radius: 0 0.75rem 0.75rem 0;
    border: none;
}
.iconMap { 
    width: 3.125rem;
    height: 3rem; 
    background-color: #F2F2F2;
    border-radius: 0.75rem 0 0 0.75rem;
}

/* ------- FILTRES -------- */

#Filtres {
  display: flex;
  flex-wrap: wrap;
}


.filtres {
    border: 0.1rem solid #F2F2F2;
    border-radius: 3rem;
    padding: 0;

    
}
.filtres * {
    height: 3rem;
    padding: 1rem;
    margin: 0;
}
.filtres i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    width: 3rem;
    background: #DEEBFF;
    border-radius: 2rem;
}


        /*  HEBERGEMENTS */
        
#Hebergements {
    flex: 2;
    display: flex;
    align-content: flex-start;
    width: auto;
}

.cartesHebergements {
    margin: auto;
    width: auto;
    height: 12.25rem;
    border-radius: 1.25rem;
   
    box-shadow: 0 14px 28px rgba(0,0,0,0.12);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .cartesHebergements:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
  }

.imgHebergements {
    width: 14.75rem;
    height: 7rem;
    padding: 0;
    margin: 0;
    border-radius: 20px 20px 0 0;
}
.carteDescription {
 
}
.rating i {
    padding: 0;
    margin: 0;
}
        /*  POPULAIRES */
        
#Populaires {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    
    background-color: #F2F2F2;
    border-radius: 1.25rem;
}
.imgPopulaires {
    max-width: 128px;
    max-height: 8.5rem;
    border-radius: 1.25rem 0 0 1.25rem;
}

        /*FOOTER*/
footer {
    display: flex;
    background: #F2F2F2;
    width: 100%;
    height: auto;
    margin: 0;
}
footer ul {
    width: 30%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    
   
}

        /*MEDIA QUERIES*/

@media screen and (min-width:37,5rem) {
    #inscription {
        display: flex;
        flex-wrap: right;

    }
}