/*  --------- POLICES -------- */

/* -------- PARAMETRES COMMUNS --------- */

html,
html * {
    font-family: "Raleway", sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-left: auto;
    margin-right: auto;
    /* pour empecher que le contenu s'etire a partir de 1440px et qu'il reste centrer: 
    @media: screen and min-width: 1441px */
    max-width: 90rem;
}
main {
    margin: 0 1rem;
}
a {
    text-decoration: none;
    color: black;
}
i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
img {
    object-fit: cover;
}
span {
    font-weight: 600;
}

/*  --------- FLEX CLASS PREDEFINIS -------- */

.flexStart {
    display: flex;
    justify-content: flex-start;
}
.flexEnd {
    display: flex;
    justify-content: flex-end;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround {
    display: flex;
    justify-content: space-around;
}
.flexBetween {
    display: flex;
    justify-content: space-between;
}
.flexEvenly {
    display: flex;
    justify-content: space-evenly;
}
.itemsCenter {
    display: flex;
    align-items: center;
}
.itemsEnd {
    display: flex;
    align-items: flex-end;
}
.alignSelfEnd {
    display: flex;
    align-content: flex-end;
}
.flexWrap {
    display: flex;
    flex-wrap: wrap;
}
.flexNoWrap {
    display: flex;
    flex-wrap: nowrap;
}
.flexRow {
    display: flex;
    flex-direction: row;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
/* ------- NAVIGATION -------- */

header {
    height: 114px;
    margin: 0 2rem;
    padding: 0 1rem;
}
header * {
    height: 100%;
    font-size: 1rem;
}
#logo {
    padding-top: 1.25rem;
}
#logo img {
    margin: 0.25rem;
    width: 6rem;
    height: 2.875rem;
}
header nav {
    margin-left: auto;
    display: flex;
    justify-self: flex-end;
}
header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
#linkHebergements {
    padding-left: 1.75rem;
    padding-right: 1.375rem;
}
.activeLink {
    font-weight: 500;
    color: #0065fc;
}
a:visited {
    text-decoration: none;
}
#linkActivites {
    padding-left: 2.75rem;
    padding-right: 2.5rem;
    border-top: 0.125rem solid transparent;
}
header nav li a:hover,
.activeLink,
#linkActivites:hover {
    color: #0065fc;
    border-top: 0.125rem solid #0065fc;
}

#inscription {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    color: #0065fc;
    font-weight: 600;

    border-top: 0.125rem solid transparent;
}

/* ------- RECHERCHE -------- */
#Recherche {
    margin: 0 2.375rem;
}
#titreRecherche {
    font-size: 1.37rem;
    font-weight: 700;
    margin-top: 0.75rem;
}
#Recherche p {
    margin: 0.5em 0 1.25rem;
}
form {
    box-sizing: content-box;
    font-size: 1.3125rem;
    width: fit-content;
    height: 3rem;
    border: solid #f2f2f2 0.09375rem;
    border-radius: 1rem;
    margin: 1rem 0 0.875rem;
}
form * {
    box-sizing: content-box;
    font-size: 1.1875rem;
    font-weight: 600;
}
.iconMap {
    height: 3rem;
    width: 3rem;
    margin-left: -0.0625rem;
    background-color: #f2f2f2;
    border-radius: 1rem 0 0 1rem;
    border: solid #f2f2f2 0.09375rem;
}
input {
    width: 13.625rem;
    border: solid #f2f2f2 0.09375rem;
    height: 3rem;
    padding-left: 1rem;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    color: black;
    font-size: 1.15rem;
    box-sizing: content-box;
}
.searchButtonIcon {
    box-sizing: content-box;
    display: none;
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    border: solid #0065fc 0.1rem;
    background-color: #0065fc;
    color: white;
}
.searchButton {
    font-size: large;
    font-weight: 600;
    width: 8.1875rem;
    height: 3rem;
    background-color: #0065fc;
    color: white;
    border-radius: 0 1rem 1rem 0;
    border: solid #0065fc 0.09375rem;
    box-sizing: content-box;
}

#Recherche i {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------- FILTRES -------- */

#Filtres {
    display: inline-flex;
    flex-wrap: wrap;
}
#titreFiltres {
    margin: 0.75rem 1.25rem 0.75rem 0.5rem;
    font-size: 1.125rem;
}
#Filtres a {
    display: inline-flex;
    align-items: center;
    border: 0.125rem solid #f2f2f2;
    /* border-left: 0.0625rem solid transparent; */
    border-radius: 3rem;
    height: 3.125rem;

    margin: 1rem 0.75rem;
}
.filtres h3 {
    font-size: 1.125rem;
    margin: 0.75rem 1.3125rem 0.75rem 0.75rem;
}
.filtres {
    display: inline-flex;
    align-items: center;
}
/* animation au survol de la souris */
#Filtres a:hover {
    background-color: #deebff;
    border: 0.125rem solid #deebff;
    /* border-left: 0; */
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    -webkit-transition: border 200ms linear;
    -ms-transition: border 200ms linear;
    transition: border 200ms linear;
}
.filtres i {
    font-size: 1.25rem;
}
.filtresIconBG {
    padding: 1rem;
    margin-left: -0.125rem;
    color: #0065fc;

    width: 3.125rem;
    height: 3.125rem;

    background: #deebff;
    border-radius: 2rem;
    border: 0.125rem solid #deebff;
}
#filtreEconomique {
    font-size: 1rem;
}

/* ------- INFO ------- */
#info {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
}
#info i {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: baseline;
    padding: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    color: #0065fc;
    font-size: 0.75rem;
    border: solid 0.0625rem #d9d9d9;
    border-radius: 2rem;
}
#info i,
#info p {
    margin: 0.25rem;
}

/*  ------- HEBERGEMENTS ------- */
#Logements {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 2rem 2rem 1rem;
}
#Logements p {
    font-size: 0.875rem;
}
#Hebergements {
    padding: 1.5rem;
    background-color: #f2f2f2;
    border-radius: 1.25rem;
}
#titreHeberg {
    margin: 1.25rem 1.125rem 0.5rem;
    font-size: 1.37rem;
}
#AfficherPlus h3 {
    font-size: 1.125rem;
    margin: 1.25rem;
}
.cartesHebergements {
    display: flex;
    flex-direction: column;
    width: 15.375rem;
    height: 12.375rem;

    padding: 0.3125rem;
    margin: 1rem;
    border-radius: 1.25rem;
    background-color: white;

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.cartesHebergements:hover,
.cartesPopulaires:hover,
#Activites .cartes:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

.imgHebergements {
    width: 100%;
    height: 7.125rem;
    border-radius: 1rem 1rem 0 0;
}
.carteDescription {
    flex-direction: column;

    margin: 0.25rem 0.5rem 0 0.5rem;
}
.carteDescription > * {
    padding: 0;
    margin: 0.25em 0.25rem;
}
#Hebergements .rating {
    align-items: center;
    font-size: 0.75rem;
    margin: 0.5rem 0.25rem;
}
.rating i {
    color: #0065fc;
}
.greyStar i,
.greyStar {
    color: #e1e1e1;
}

/* ------- POPULAIRES ------- */

#Populaires {
    width: 420px;
    padding: 2.25rem;
    padding-bottom: 1.25rem;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 1.25rem;
}
#titrePopulaires {
    margin: 0.5rem 0 0.5rem 0;
}
h2 {
    font-size: 1.37rem;
}
#titrePopulaires i {
    display: flex;
    align-items: center;
    font-size: 1.37rem;
}
#cartesPopulairesContainer {
    display: flex;
    flex-wrap: wrap;
}
.cartesPopulaires {
    display: flex;
    flex-direction: row;
    width: 21.5rem;

    height: 9rem;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3125rem;

    background: white;
    border-radius: 1.25rem;

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.imgPopulaires {
    width: 8rem;
    border-radius: 1rem 0 0 1rem;
}
.carteDescriptionPopulaires {
    display: flex;
    flex-direction: column;
    margin: 0.25rem 0.75rem;
}

.descriptionTexte > * {
    padding: 0;
    margin: 0.25rem 0.5rem;
    margin-top: 0.5em;
}
h3 {
    font-size: 1rem;
}
#Populaires .rating {
    font-size: 0.75rem;
    /* align-items: center; */
    margin: 0.5rem;
    margin-bottom: 0.25em;
}

/* ------- ACTIVITES ------- */

#Activites {
    padding: 1rem;
    margin-top: 2rem;
    width: 100%;
}
#titreActivites {
    margin: 0.75rem 1.25rem 0.5rem;
    font-size: 1.37rem;
}
#Activites .cartes {
    margin: 1rem 1.375rem;
    width: 18.75rem;
    border-radius: 1.25rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
/*  IMAGES ACTIVITES */
#vieuxport {
    height: 27.75rem;
    background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}
#pomegues {
    height: 14.75rem;
    background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}
#frioul {
    height: 10.25rem;
    background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}
#calanques {
    height: 27.75rem;
    background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}
#garde {
    height: 12.125rem;
    background-image: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}
#longchamp {
    height: 13rem;
    background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}

.cartesDescriptionActivites {
    width: 100%;
    border-radius: 0 0 1.25rem 1.25rem;

    margin-top: 100%;
    background: white;
}
#Activites h3 {
    font-size: 1rem;
    margin: 1.25rem;
}
#activitesCartesContainer {
    display: flex;
    flex-wrap: wrap;
}
#bloc3CartesActivites1,
#bloc3CartesActivites2 {
    height: 29.75rem;
}

/* ----- FOOTER ------ */

footer a {
    font-size: 1rem;
}
footer {
    margin-top: 1.75rem;
    display: flex;
    background: #f2f2f2;
    width: 100%;
}
footer nav {
    width: 100%;
    padding: 1.5rem;
    font-size: 0.875rem;
    display: flex;
    justify-content: flex-start;
}
footer ul {
    width: 31%;
    margin-left: 1.5rem;
    margin-top: 0.25rem;
    list-style: none;
    display: inline-block;
    flex-direction: column;
}
footer li {
    line-height: 1.9;
}
footer h3 {
    line-height: 2.9;
    font-size: 1.125rem;
}


/* ----- MEDIA QUERIES ------ */

@media screen and (max-width: 1439.98px) {
    
    main {
        margin-left: auto;
        margin-right: auto;
    }
    #filtresContainer {
        width: 100%;
    }
    
    #Hebergements {
        width: 100%;
    }
    #cartesHebergementsContainer {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }
    .cartesHebergements {
        margin: 1.04vw;
    }
    #Populaires {
        width: 100%;
        margin: 0;
        margin-bottom: 2rem;
    }
    #cartesPopulairesContainer {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }
    .cartesPopulaires {
        margin: 1.11vw;
    }
    #activitesCartesContainer {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }
    #bloc3CartesActivites1,
    #bloc3CartesActivites2 {
        height: auto;
        flex-wrap: nowrap;
    }
    #bloc2CartesActivites1,
    #bloc2CartesActivites2 {
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #Activites .cartes {
        height: 11.875rem;
        margin: 1.52vw 1.45vw;
    }
}

@media screen and (max-width: 1023.98px) {
    #Logements {
        margin-left: auto;
        margin-right: auto;
    }
    #Populaires {
        padding: 20px;
        margin: 0;
        border-radius: 0;
    }
    #Hebergements {
        padding: 0;
        background-color: white;
    }
    #Activites {
        padding: 0;
        margin-top: 2rem;
        width: 100%;
    }
    #cartesActivitesContainer {
        display: flex;
        flex-direction: column;
    }
    #bloc3CartesActivites1,
    #bloc3CartesActivites2 {
        flex-direction: column;
        height: auto;
    }
    #bloc2CartesActivites1,
    #bloc2CartesActivites2 {
        flex-direction: column;
        height: auto;
    }
    
}
/* Medium devices (tablets, less than 800px) */

@media screen and (max-width: 799.98px) {
    #Recherche {
        margin: 1rem;
    }
    #Hebergements {
        padding: 0;
    }
    .cartesHebergements,
    #Activites .cartes {
        width: 20.875rem;
    }
    #Populaires,
    #Activites {
        padding: 1rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #L1,
    #L2 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .cartesHebergements {
        margin: 6px;
    }
    .cartesPopulaires {
        margin: 5.5px;
    }
    .cartesHebergements {
        height: 12.375rem;
    }
    #Activites .cartes {
        height: 11.875rem;
        margin: 0.75rem;
    }
}
/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {
    header {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .searchButton {
        display: none;
    }
    .searchButtonIcon {
        display: inline;
    }
    #Hebergements {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    #Populaires {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    #bloc3CartesActivites1,
    #bloc3CartesActivites2 {
        display: flex;
        flex-direction: column;
    }
    footer {
        margin-top: 1rem;
    }
    footer nav {
        padding: 0;
        padding-bottom:  2.25rem;
        flex-direction: column;
    }
    footer ul {
        margin-top: 1.75rem;
        margin-left: 1.875rem;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #NosHebergements {
        margin-top: 1.5rem;
        margin-bottom: 0rem;
    }
}
@media screen and (max-width: 600px) {
    header nav,
    header nav li,
    header a {
        height: 50px;
    }
    header nav ul * {
        margin: 0;
        width: 100%;
    }
    header {
        height: 132px;
        margin: 0;
        padding: 0;
    }

    #logo {
        padding-top: 2.5rem;
        padding-left: 1.125rem;
    }
    header nav {
        margin-top: 1.875rem;
    }
    header nav,
    header nav ul {
        width: 100%;
    }
    header nav li {
        width: 50%;
    }
    header nav a {
        width: 100%;
    }
    #linkHebergements {
        padding-left: 2.375rem;
        padding-right: 2.25rem;
    }
    #linkActivites {
        padding-left: 3.75rem;
        padding-right: 4rem;
        border-bottom: 0.125rem solid #f2f2f2;
    }
    header nav li a:hover,
    .activeLink,
    #linkActivites:hover {
        color: #0065fc;
        border-top: none;
        border-bottom: 0.1875rem solid #0065fc;
    }
    #inscription {
        padding-top: 1.5rem;
        padding-right: 1.3125rem;
        position: absolute;
        right: 0;
        top: 0.75rem;
    }
    #titreRecherche {
        font-size: 1.37rem;
        font-weight: 700;
        margin-top: 2rem;
    }
    #Recherche p {
        margin: 0.75em 0 2.25rem;
    }

    #titreFiltres {
        margin: 1.125rem 1.25rem 0.75rem 0.25rem;
    }
    #Filtres a {
        margin: 3px 7px 10px 0;
    }
    .filtres h3 {
        font-size: 1rem;
        margin: 0.75rem 1.125rem 0.75rem 0.75rem;
    }
    #info p {
        margin: 0.5rem 0 1rem 0.25rem;
    }
    #Logements {
        margin: 0;
    }
    #Populaires {
        padding-top: 2.25rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-bottom: 2rem;
    }
    #titrePopulaires {
        margin-bottom: 1rem;
    }
    #Hebergements {
        padding: 0 1.25rem 0 1.25rem;
        margin-top: 1rem;
    }
    #titreHeberg {
        margin-bottom: 1rem;
        margin-left: 0;
    }
    #AfficherPlus h3 {
        margin: 0;
    }
    #AfficherPlus {
        margin: 2rem 0 0 0.25rem;
    }
    #Activites {
        margin-top: 1rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    #titreActivites {
        margin: 1.25rem 0.25rem 0.875rem;
    }
    .cartesHebergements,
    .cartesPopulaires,
    #Activites .cartes {
        margin-left: auto;
        margin-right: auto;
    }
}
