/*  --------- POLICES -------- */


/* -------- PARAMETRES COMMUNS --------- */

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    padding: 0.25rem;
    margin: 0.25rem;
}

body {
  margin: auto;
  margin-top: 0;
  padding-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
main {
    width: 100%;
}
h1, h2 {
    font-size: 1.3rem;
}
a, p, h4 {
    font-size: 0.875rem;
}
a {
    text-decoration: none;
    color: black;
}
span {
    font-weight: 600;
}

/*  --------- FLEX CLASS PREDEFINIS -------- */

.flexStart {
    display: flex;
    justify-content: flex-start;
}
.flexEnd {
    display: flex;
    justify-content: flex-end;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround {
    display: flex;
    justify-content: space-around;

}
.flexBetween {
    display: flex;
    justify-content: space-between;

}
.itemsCenter {
    display: flex;
    align-items: center;
}
.itemsEnd {
    display: flex;
    align-items: flex-end;
}
.alignSelfEnd {
    display: flex;
    align-content: flex-end;
}
.flexWrap {
    display: flex;
    flex-wrap: wrap;
}
.flexNoWrap {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
/* ------- NAVIGATION -------- */

header {
    width: 100%;
    height: 120px;
    margin: 0;
    padding: 0;
}
header * {
    margin: 0;
    padding: 0;
    height: 100%;
}
#logo img {
    width: 6rem;
    height: 3rem;
    
}
header nav {
    margin-left: auto;
    height: 100%;
}

header ul {
    display: flex;
    list-style: none;
    flex-direction: row;
}

header a {
    padding: 2rem;
    width: 10.125rem;
    height: 100%;

} 

.activeLink {
    color: #0065FC;
}
a:visited {
    text-decoration: none;
   
}
nav li a:hover, .activeLink {
	color: #0065FC;
	border-top: 0.125rem solid #0065FC;
}
#inscription {
    
    color: #0065FC;
    font-weight: 600;
    font-size: 0.875rem;
    
}



/* ------- RECHERCHE -------- */
form * {
    height: 3rem;
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
}
form {
    width: 26rem;
 
}

input {
    width: 14.5rem;
    border: solid #F2F2F2 0.1rem;
    border-radius: 0;
    color: black;
    

}
button {
    width: 8.25rem;
    height: 3rem;
    background-color: #0065FC;
    color: white;
    border-radius: 0 0.75rem 0.75rem 0;
    border: none;
}
.iconMap { 
    width: 3.125rem;
    height: 3rem; 
    background-color: #F2F2F2;
    border-radius: 0.75rem 0 0 0.75rem;
}

/* ------- FILTRES -------- */

#Filtres {
  display: inline-flex;
  flex-wrap: wrap;
}

#Filtres a {
border: 0.125rem solid #F2F2F2;
    border-radius: 3rem;
    height: 3rem;
    display: inline-flex;
   padding-left: 0;
    align-items: center;
    box-shadow: 0.25rem #0065FC;
}
.filtres {
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    margin-left: 0;

}
/* animation au survol de la souris */
#Filtres a:hover {
  background-color: #deebff;
  box-shadow: 0.25rem #0065FC;
  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
}

.filtres i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    font-size: 1rem;
     padding: 0;
    margin: 0;
    
    
}
.filtresIconBG {  
    width: 3rem;
    height: 3rem;
    background: #DEEBFF;
    border-radius: 2rem;
    padding: 0;
    margin: 0;
    border: 0.125rem solid #DEEBFF;
}
        /*  INFO */
#info {
    display: flex;
    flex-direction: row;    
}
#info i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    color: #0065fc;
    font-size: 0.875rem;
    border: solid 1px #D9D9D9;
    border-radius: 2rem;
}
        /*  HEBERGEMENTS */
        
#Hebergements {
   
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 1.25rem;
    margin: auto;
}

.cartesHebergements {

    width: auto;
    height: 12.5rem;
    border-radius: 1.25rem;
    background-color: white;

    box-shadow: 0 14px 28px rgba(0,0,0,0.12);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .cartesHebergements:hover, .cartesPopulaires:hover, .cartesActivites1:hover, .cartesActivites2:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
  }

.imgHebergements {
    width: 14.75rem;
    height: 7rem;
    padding: 0;
    margin: 0;
    border-radius: 1rem 1rem 0 0;
}
.carteDescription {
    margin: 0;
    padding: 0;
    height: 5rem;
}
.carteDescription * {
    margin-bottom: 0;
}
.rating {
    font-size: 0.75rem;
    padding: 0 0.25rem;
}
.rating i {
    
    padding: 0;
    margin: 0;
    color: #0065FC;
}
        /*  POPULAIRES */
        
#Populaires {

    display: flex;
    flex-wrap: wrap;
    width: 30%;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 1.25rem;
}
.cartesPopulaires {
    max-width: 21rem;
    min-width: 20.75rem;
    margin: auto;
    height: 9rem;
    background: white;
    border-radius: 1.25rem;
   display: flex;
   flex-direction: row;
    box-shadow: 0 14px 28px rgba(0,0,0,0.12);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.imgPopulaires {
    margin: 0;
    padding: 0;
    max-width: 128px;
    max-height: 8.5rem;
    border-radius: 1rem 0 0 1rem;
}

        /* ACTIVITES */
.cartesActivites1 {
    margin: auto;
    padding: 0;
    width: 19rem;
    height: 27.75rem;
    border-radius: 1.25rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.12);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
 .imgActivites1 {
    max-width: 100%;
    height: 24.25rem;
    padding: 0;
    margin: 0;
    border-radius: 1.25rem 1.25rem 0 0;

}
.cartesDescriptionActivites {
    margin: 0.5rem;
}

        /* FOOTER */
footer {
    display: flex;
    background: #F2F2F2;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
}
footer ul {
    width: 30%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;

}
footer nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
        /*MEDIA QUERIES*/

@media screen and (min-width:37,5rem) {
    #inscription {
        display: flex;
        flex-wrap: right;

    }
}